*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: grid;
    grid-template-columns: auto auto;
    background-color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
    place-items: center;
}
.first{
    text-align: center;
}
img{
    width: 170px;
    height: 60px;
    /* margin-top: 30px; */
}
